html {
  box-sizing: border-box;

  --col-dark: #070600;
  --col-light: #f7f7ff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;

  font-family: "Inter", sans-serif;
  color: var(--col-dark);
}

/* HEADER */
.header {
  padding: 30px 0;
  background-color: var(--col-dark);
}

.header__container {
  text-align: center;
}

.title {
  color: var(--col-light);
  font-size: 40px;
}

/* GAME */
.game {
  flex-grow: 1;
  padding: 50px 0;
  background-color: var(--col-light);
}

.game__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.game__heading {
  font-size: 30px;
}

.game__score {
  display: flex;
  gap: 50px;
}

.score-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.score__title {
  font-size: 18px;
}

.score__value {
  font-size: 26px;
}

.game__controls {
  display: flex;
  gap: 20px;
}

.control {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  border: 0;
  outline: 0;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 9px;

  font-family: inherit;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s;
}

.control:hover {
  background: rgba(0, 0, 0, 0.3);
}

/* FOOTER */
.footer {
  padding: 15px 0;
  background-color: var(--col-light);
}

.footer__text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  color: var(--col-dark);
  font-size: 14px;
}

.footer__link {
  display: flex;
  align-items: center;
  gap: 6px;

  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__logo {
  width: 20px;
}

/* Modal */
.modal {
  padding: 30px;
  text-align: center;
  border: 0;
  border-radius: 9px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal::backdrop {
  background: #070600;
  opacity: 0.2;
}

.modal form {
  align-self: stretch;
}

.modal__title {
  color: var(--col-dark);
  font-size: 26px;
  margin-bottom: 30px;
}

.modal__result {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}

.modal__btn {
  display: block;
  width: 100%;
  padding: 10px;

  border: 0;
  outline: 0;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 9px;

  font-family: inherit;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s;
}

.modal__btn:hover {
  background: rgba(0, 0, 0, 0.3);
}
