$color: (
  "light": #f7f7ff,
  "dark": #070600,
);

$font-size: (
  "extra-large": 40px,
  "large": 30px,
  "medium": 26px,
  "small": 20px,
  "extra-small": 14px,
);

$border-radius: (
  "regular": 9px,
);
