$control-padding: 10px;
$control-border: 0;
$control-outline: 0;
$control-border-radius: map-get(
  $map: $border-radius,
  $key: "regular",
);
$control-bg: rgba(0, 0, 0, 0.1);
$control-bg-hover: rgba(0, 0, 0, 0.3);
$control-text-size: map-get(
  $map: $font-size,
  $key: "small",
);
$control-animation: all 0.3s;

.control {
  padding: $control-padding;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  border: $control-border;
  outline: $control-outline;
  background: $control-bg;
  border-radius: $control-border-radius;
  font-family: inherit;
  font-size: $control-text-size;
  cursor: pointer;
  transition: $control-animation;

  &:hover {
    background: $control-bg-hover;
  }
}
