$app-bg: map-get(
  $map: $color,
  $key: "light",
);
$app-padding: 50px 0;
$app-heading-size: map-get(
  $map: $font-size,
  $key: "large",
);
$app-text-col: map-get(
  $map: $color,
  $key: "dark",
);

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: $app-text-col;
}

.app {
  flex-grow: 1;
  padding: $app-padding;
  background-color: $app-bg;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  &__heading {
    font-size: $app-heading-size;
  }

  &__score {
    display: flex;
    gap: 50px;
  }

  &__controls {
    display: flex;
    gap: 20px;
  }
}
